<% provide(:title, 'About Us') %>
<!DOCTYPE html>
<html>
  <head>
    <title>About Page | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>About</h1>
    <p>
     	This page will explain a little about myself, David Delorenzo.
    </p>
    <p>
    	My name is David Delorenzo. I am a passionate coder, gamer, and xxxx. In my spare time you will me doing xxxxx.
    </p>

    <%= image_tag 'guildsource.jpg' %>
    </body>
</html>
