<!DOCTYPE hmtl>

<div  style="background-image:url(darkBack.jpg); background-size:100%; height: 800px;">

<h1 style="font-family: nexa_rust_slabblack_shadow_01;
	font-size: 90px; color:beige"> Welcome</h1>

  <h2 style="font-family: nexa_rust_sansblack; color:beige">
    <br>This is the home page for the
    my professional website.</br>
  </h2>
 
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <a href="/projects">
      	<img alt="Projects" src="cplus.jpg">
	  </a>
      <div class="carousel-caption">
          <h1> Projects </h1>
      </div>
    </div>
    <div class="item">
      <a href="/about">
      	<img alt="About" src="lifeMotto.jpg">
	  </a>
      <div class="carousel-caption">
          <h1> About </h1>
      </div>
    </div>
    <div class="item">
      <a href="/contact">
      	<img alt="Contact" src="lifeMotto.jpg">
	  </a>
      <div class="carousel-caption">
          <h1> Contact </h1>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
 </div>


  <h2 style="font-family: nexa_rust_script_l0regular; color:beige; font-size: 50px">
  	 This website was made from scratch using Ruby on Rails
  </h2>

</div>

</html>
