<!DOCTYPE hmtl>
<body style="background-color:dark grey">

<div class="center hero-unit" style="background-image:url(woodback.jpg); background-size:100%">

<h1 style="font-family: nexa_rust_sansblack;
	font-size: 90px; color:beige"> Welcome!</h1>

  <h2 style="color:beige">
    This is the home page for the
    my professional website.
  </h2>

    
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= link_to image_tag("cplus.jpg", alt: "Projects"),  '/projects' %>
      <div class="carousel-caption">
          <h1> Projects </h1>
      </div>
    </div>
    <div class="item">
      <%= link_to image_tag("lifeMotto.jpg", alt: "About"), '/about' %>
      <div class="carousel-caption">
          <h1> About </h1>
      </div>
    </div>
    <div class="item">
       <%= link_to image_tag("lifeMotto.jpg", alt: "Contact"), '/contact' %>
      <div class="carousel-caption">
          <h1> Contact </h1>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
 </div>


</div>

</body>
</html>
