<HTML>
<div  style="background-image:url(darkBack.jpg); background-size:100%; height: 1000px;">
<h1 style="font-family: nexa_rust_slabblack_shadow_01;
	font-size: 90px; color:beige"> Programming Problems</h1>

<div style="margin-left:20%; margin-right:20%;">

<a href="/max_lines">
<div class="border-fade" data-holder-rendered="true" style="width: 300px; height: 300px;  margin: 20px; float:left">
<h2 style="margin-top: 40%; font-family: nexa_rust_sansblack; color:beige"> MAX POINTS ON A LINE </h2>
</div>
</a>

<a href="/candy">
<div class="border-fade" data-holder-rendered="true"   style="width: 300px; height: 300px;  margin: 20px;">
<h2 style="margin-top: 40%; font-family: nexa_rust_sansblack; color:beige"> MINIMUM CANDY </h2>
</div>
</a>

<a href="/treedepth">
<div class="border-fade" data-holder-rendered="true"   style="float: left; width: 300px; height: 300px; margin: 20px;">
<h2 style="margin-top: 40%; font-family: nexa_rust_sansblack; color:beige"> TREE DEPTH </h2>
</div>
</a>

<a href="/nonrepeating">
<div class="border-fade" data-holder-rendered="true"   style="width: 300px; height: 300px;  margin: 20px;">
<h2 style="margin-top: 40%; font-family: nexa_rust_sansblack; color:beige"> NON REPEATING NUMBER </h2>
</div>
</a>


</div>
</div>
</HTML>
