<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
  </head>
  <body>
    <h1> Resume </h1>
    <p>
      Please Click Here to download a PDF copy of my resume. 
    </p>
  </body>
</html>
