<header class="navbar navbar-fixed-top navbar-inverse" >
  <div class="navbar-inner" style="height:60px">
    <div class="container">
      <%= link_to "David Delorenzo", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Projects", projects_path %></li> 
          <li><%= link_to "Resume", resume_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
